@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
}
body{
    background-color: var(--main-color);
}
.alert-class{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    outline:none;
    border: none;
}
.change-class{
    background-color: grey;
    color:var(--white-color);
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}