:root{
    --main-color:#1e1414;
    --white-color: #fff;
}
@keyframes slidein {
    0%{
        position: absolute;
        left: 0%;
    }
    100%{
        position: absolute;
        left: 28%;
    }
}
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
  @keyframes search {
    0%{
      position: absolute;
      left: 0;
    }
    100%{
      position: absolute;
      left: 29%;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-140px);
              transform: translateX(-140px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }